# --- Deployment Configuration ---
# 1. Deployment: Defines the desired state for your application (running the container)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache-deployment
  labels:
    app: apache
spec:
  # We want 2 copies (replicas) of the application running
  replicas: 2 
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        # Use the official lightweight NGINX image
        image: httpd:trixie
        ports:
        - containerPort: 80 # NGINX listens on port 80 inside the Pod
