# --- Deployment Configuration ---
# 1. Deployment: Defines the desired state for your application (running the container)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  # We want 2 copies (replicas) of the application running
  replicas: 2 
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        # Use the official lightweight NGINX image
        image: nginx:latest
        ports:
        - containerPort: 80 # NGINX listens on port 80 inside the Pod
